

body{
    background-color: #061413;
}
.common_title{
    text-align: center;
    h4{
        font-size: 12px;
        color: #fc3d4d;
        font-weight: 800;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    h2{
        font-size: 34px;
        font-weight: 300;
        color: #fefefe;
        margin-bottom: 20px;
    }
    p{
        font-weight: 400;
        line-height: 28px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        padding: 0 170px;
        margin-bottom: 80px;
    }
}

    /* header section starts */
header{
    // background-color: #;
    padding-top: 40px;
    
    li{
        display: inline-block;
        line-height: 55px;

        a{
            color: #ffffff;
            font-size: 15px;
            margin-right: 50px;
            padding-bottom: 5px;
            position: relative;

            &:hover::after{
                opacity: 1;
            }
            &::after{
                content: '';
                width: 100%;
                height: 3px;
                background-color: #fe1e5b;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: 0.3s;
            }
        }
    }
}

nav{
    text-align: right;

    ul{
        span{
            a {
                background: linear-gradient(to right, #fa6e38, #fe1c5c);
                padding: 12px 25px;
                border-radius: 50px;
                color: #fff;
                font-size: 13px;
                font-weight: bold; 
                &:hover{
                    background: linear-gradient(to right, #fe1c5c, #fa6e38);
                }
            }
            img {
                position: relative;
                top: 1px;
                right: -5px;
                width: 11px;
            }
        }

    }

}
    /* header section ends */


    /* banner section starts */
.banner_section{
    padding: 120px 0;
    h1 {
        font-size: 60px;
        font-weight: 100;
        line-height: 82px;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, #fe1c5c, #fa6e38);
        margin-bottom: 40px;
    }
    p {
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 140px;
    }
    .banner_img {
        position: absolute;
        right: 180px;
        top: 163px;
        z-index: -1;
    }
    form{
        position: relative;
        input {
            border: none;
            font-size: 15px;
            color: #999999;
            width: 100%;
            padding: 25px 215px 24px 35px;;
            border-radius: 50px;
        }
        button {
            background-color: #fc3d4d;
            padding: 20px 30px;
            border-radius: 50px;
            position: absolute;
            right: 6px;
            top: 6px;
            border: none;
            color: #ffffff;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                background-color: #fa6d38;
            }
        }
    }
    .price_top{
        padding-top: 25px;
        a{
            color: #fff;
            margin-right: 15px;
        }
        .all_price{
            color: #fc3d4d;
            &:hover{
                color: #fa6d38;
            }
        }
    }
}
    /* banner section ends */


    /* price section starts */
.price_section{
    padding-bottom: 80px;

    .col-1-of-4{
        width: calc(100% / 4);
        margin-right: 0;
    }

    .price_one{
        background-image: linear-gradient(to bottom, #0eb3d8, #077577);
    }
    .price_two{
        background-image: linear-gradient(to bottom, #f97236, #ff0e62);
    }
    .price_three{
        background-image: linear-gradient(to bottom, #884ca0, #5f29fd);
    }
    .price_four{
        background-image: linear-gradient(to bottom, #feb941, #ff7b02);
    }

    .single_price{
        padding: 35px 35px 50px 50px;
        margin-bottom: 80px;
        overflow: hidden;
        color: #fff;
        &:hover{
            transform: translateY(-5px);
        }

        .price_header{
            display: flex;

            .price_image{
                width: 50%;
                img{
                    margin-left: -135px;
                    margin-top: -16px;
                }
            }
        
            .price_head_text{
                width: 50%;
                h3{
                    font-weight: 500;
                    font-size: 20px;
                    margin-bottom: 13px;
                    padding-top: 20px;
                }
                p{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 45px;
                }
                h4{
                    font-size: 50px;
                    font-weight: 100;
                    line-height: 24px;
                    margin-bottom: 13px;
                }
                span{
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }

        .price_desc{
            padding: 5px;
            ul{
                min-height: 200px;
                li{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 30px;
                }
                li:first-child{
                    font-weight: 700;
                }
            }
            .price_btn{
                a{
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                    color: #fff;
                    border: 2px solid #fff;
                    padding: 18px 38px;
                    border-radius: 50px;
                    display: inline-block;
                    margin-left: 8px;
                }
                
                .btn_one:hover{
                    background-color: #fff;
                    color: #077577;
                }
                .btn_two:hover{
                    background-color: #fff;
                    color: #ff0e62;
                }
                .btn_three:hover{
                    background-color: #fff;
                    color: #5f29fd;
                }
                .btn_four:hover{
                    background-color: #fff;
                    color: #ff7b02;
                }
            }
        }
    }
    .price_bottom{
        color: #8998af;
        text-align: center;
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 40px;
            i{
                color: #dc3747;
            }
        }
        h4{
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
            span{
                color: #dc3747;
            }
        }
    }
}
    /* price section ends */


    /* price section ends */
.plan_section{
    background-image: linear-gradient(to bottom, #061413, #0c1022);
    padding: 50px 0;

    .plan_title{
        h2{
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 35px;
        }
    }
    .single_plan{
        color: #8998af;
        background-color: #262839;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 3px;
        span{
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 15px;
        }
        i:first-child{
            background-color: #353848;
            color: #04b3c8;
            border-radius: 50%;
            padding: 10px;
        }
        i:last-child{
            float: right;
            color: #34b358;
            font-size: 20px;
            margin-right: 20px;
            margin-top: 8px;
        }
    }
}
    /* price section ends */


    /* service section starts */
.service_section{
    background-image: linear-gradient(to bottom, #0c1022, #120d2d);
    padding: 50px 0;

    .single_service{
        background-color: #25233d;
        display: flex;
        border-radius: 5px;
        margin-bottom: 30px;
        .service_icon{
            width: 230px;
            background-image: url(../img/service_icon_bg.png);
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            i{
                font-size: 60px;
                margin-left: 0;
                background-image: linear-gradient(#ff0a64, #fa6b39);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                line-height: 150px;
            }
        }
        .service_desc{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 30px;
            h3{
                font-weight: 700;
                font-size: 18px;
                color: #ffffff;
                line-height: 24px;
            }
            p{
                font-weight: 400;
                font-size: 15px;
                color: #8998af;
                line-height: 24px;
                margin-top: 10px;
            }
        }
    }
}
    /* service section ends */


    /* server section starts */
.server_section{
    background-image: linear-gradient(to bottom, #120d2d, #160a2f);
    padding-top: 50px;

    .server_content{
        background-image: url(../img/server_bg.png);
    }

    .server_img{
        text-align: center;
        padding: 50px 0 ;
    }
    .common_title{
        padding-bottom: 50px;
        p {
            margin-bottom: 0;
            padding: 0px 415px;
        }
    }
}
    /* server section ends */


    /* feature section starts */
.feature_section{
    background-image: linear-gradient(to bottom, #160a2f, #230d23);
    color: #ffffff;
    padding: 50px 0;

    .common_feature{
        padding-bottom: 80px;
        &:last-child{
            padding-bottom: 0;
        }
        .feature_desc{
            h2{
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                padding-bottom: 25px;
                margin-bottom: 25px;
                position: relative;
                text-transform: capitalize;
            }
            h2::after{
                content: "";
                width: 100px;
                height: 3px;
                position: absolute;
                background-image: linear-gradient(to right, #fa683b, #ff0f62);
                top: 100%;
                left: 0;
            }
            p{
                color: rgba(255, 255, 255, 0.5);
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 20px;
            }
        }

        .bottom_feature_desc{
            padding-top: 50px;
            .mini_map{
                width: 100%;
            }
            ul{
                li{
                    color: rgba(255, 255, 255, 0.5);
                    margin-bottom: 10px;
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
        .feature_img{
            img{
                width: 90%;
            }
        }
    }
}
    /* feature section ends */


    /* business section starts */
.business_section{
    background-image: linear-gradient(to bottom, #230d23, #260e17);
    .common_title{
        h4{
            padding-top: 80px;
        }
        p{
            margin-bottom: 0;
            padding-bottom: 80px;
        }
    }

    .business_icon_section{
        color: #fff;
        text-align: center;
        .col-1-of-5{
            width: calc(100% / 5);
            margin-right: 0;
            background-image: linear-gradient(to right bottom, #4e4376, #2a427e);
            padding: 24px;
            position: relative;
            z-index: 1;
            img{
                height: 50px;
            }
            p{
                text-transform: uppercase;
                font-size: 13px;
                line-height: 24px;
                font-weight: 400;
                margin-top: 20px;
            }
            span{
                width: 100%;
                height: 100%;
                display: block;
                transition: all 0.5s;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background-image: linear-gradient(to right bottom, #ff0566, #fa7236);
                opacity: 0;
            }
            &:hover span{
                opacity: 1;
            }
            
        }
    }
    .business_service_section{
        img{
            width: 90%;
        }
        .business_server_desc{
            padding-top: 80px;
            color: #fff;
            h2{
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 25px;
            }
            p{
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 25px;
            }
            ul{
                li{
                    margin-bottom: 15px;
                    color: rgba(255, 255, 255, 0.5);
                    i{
                        margin-right: 12px;
                        color: #60c79a;
                    }
                }
            }
            a{
                font-size: 13px;
                line-height: 18px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fc3d4d;
                border: 3px solid #fc3d4d;
                padding: 15px 30px;
                border-radius: 50px;
                margin-top: 40px;
                display: inline-block;
                &:hover{
                    background-color: #fc3d4d;
                    color: #fff;
                }
            }
        }
    }
}
    /* business section ends */

    
    /* testimonial section starts */
.testimonial_section{
    background-image: linear-gradient(to bottom, #260e17, #260e11);
    .common_title{
        h4{
            padding-top: 80px;
        }
        p{
            margin-bottom: 0;
            padding-bottom: 80px;
        }
    }
    .testmonials{
        padding: 50px 0;
        .single_testimonial{
            background-color: #1d1019;
            position: relative;
            text-align: center;
            border-radius: 8px;
            opacity: 0.8;
            .author_image{
                width: 80px;
                height: 80px;
                position: absolute;
                top: -40px;
                left: 50%;
                transform: translate(-50%);
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            p{
                color: #4e6367;
                font-style: italic;
                padding: 80px 45px 45px 45px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
            h4{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #fc3d4d;
                margin-bottom: 8px;
            }
            h5{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #fff;
                padding-bottom: 45px;
            }
            &:hover{
                background-color: #351f23;
                opacity: 1;
                transform: translateY(-5px);
                transition: all 0.3s;
                p{
                    color: #fff;
                }
            }
        }
        .active{
            background-color: #351f23;
            opacity: 1;
            transform: translateY(-5px);
            transition: all 0.3s;
            p{
                color: #fff;
            }
        }
    }
    .dot_section{
        text-align: center;
        padding-bottom: 50px;
        .dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
            margin: 0 auto;
            margin: 0 3px;
            &:hover{
                border: 2px solid #fc3d4d;
                background: transparent;
            }
        }
    }
}
    /* testimonial section ends */


    /* team section starts */
.team_section{
    background-image: linear-gradient(to bottom, #260e11, #210c0b);
    padding-bottom: 50px;
    .common_title{
        h4{
            padding-top: 80px;
        }
        p{
            margin-bottom: 0;
            padding-bottom: 80px;
        }
    }
    .team{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .member{
            background-color: #160808;
            width: calc((100% - 90px) / 4);
            text-align: center;
            margin-bottom: 50px;
            padding: 40px;
            border-radius: 8px;
            position: relative;

            &:not(:nth-child(4)){
                margin-right: 30px;
            }
            .member_img{
                width: 100px;
                height: 100px;
                margin: 0 auto;
                margin-bottom: 25px;

                img{
                width: 100%;
                border-radius: 50%;
                }
            }
            .member_social_icon{
                position: absolute;
                top: 20px;
                right: 20px;

                i{
                    color: #0b8dae;
                    margin-left: 5px;
                }
            }
            h4{
                font-weight: 500;
                color: #fff;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 12px;
            }
            h5{
                font-weight: 400;
                color: rgba(255, 255, 255, 0.5);
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
}
    /* team section ends */


    /* faq section starts */
.faq_section{
    background-image: linear-gradient(to bottom, #210c0b, #150807);
    padding-bottom: 50px;
    .common_title{
        h4{
            padding-top: 80px;
        }
        p{
            margin-bottom: 0;
            padding-bottom: 80px;
        }
    }
    .faq_btn{
        text-align: center;
        
        a{
            color: #fc3d4d;
            border: 3px solid #fc3d4d;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            padding: 15px 30px;
            border-radius: 30px;

            &:hover{
                color: #fff;
                background-color: #fc3d4d;
                transition: all 0.3s;
            }
        }
    }
    .all_faqs{
        padding-top: 80px;
        .pair{
            max-width: 750px;
            margin: 0 auto;
            .single{
                float: left;
                margin-bottom: 25px;
                width: 48%;
                margin-right: 4%;

                h3{
                    color: #fff;
                    font-weight: 500;
                    line-height: 24px;
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                p{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    color: #898383;
                }

                &:nth-child(2n + 2){
                    margin-right: 0;
                }
            }
        }
    }
}
    /* faq section ends */


    /* blog section starts */
.blog_section{
    background-image: linear-gradient(to bottom, #150807, #0b0404);
    padding-bottom: 50px;
    .common_title{
        h4{
            padding-top: 80px;
        }
        p{
            margin-bottom: 0;
            padding-bottom: 80px;
        }
    }
    .single_blog{
        position: relative;

        img{
            width: 100%;
            border-radius: 4px;
        }

        .blog_title{
            position: absolute;
            padding: 10px;
            top: 0;
            left: 0;
            a{
                font-size: 13px;
                color: #fff;
                line-height: 18px;
                font-weight: 400;
                background-color: #f9533b;
                padding: 6px 10px;
                border-radius: 2px;
            }
            .yellow{
                background-color: #fda400;
            }
            .cyan{
                background-color: #00a5bb;
            }
        }
        .blog_info{
            position: absolute;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), #000);
            width: 100%;
            height: 160px;
            bottom: 0;
            padding: 30px;
            color: #fff;
            font-size: 13px;

            span{
                color: #aab8bb;
                font-size: 13px;
            }
            h2{
                font-weight: 500;
                font-size: 22px;
                line-height: 34px;
            }
        }
    }
}
    /* blog section ends */


    /* company section starts */
.company_section{
     background-image: linear-gradient(to bottom, #0b0404, #070303);
     padding: 50px 0;
     h3{
         font-weight: 500;
         color: #fff;
         font-size: 16px;
         line-height: 24px;
         text-align: center;
         text-transform: uppercase;
     }
     .all_companies{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         margin-top: 50px;
         .single_company{
             width: calc((100% - 175px) / 6);
             height: 50px;
             background-color: #a2abb5;
             margin-bottom: 40px;
             border-radius: 3px;
             &:not(:nth-child(6)),{
                 margin-right: 35px;
             }
             &:last-child{
                 margin-right: 0 ;
             }
         }
     }
}
    /* company section ends */


    /* product section ends */
.product_section{
    background-image: linear-gradient(to bottom, #070303, #030102);
    padding: 50px 0;

    h2{
        font-weight: 300;
        font-size: 34px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        margin-bottom: 60px;
    }

    .single_product{
        background-image: linear-gradient(to right bottom, #ff0666, #fa7137);
        padding: 22px 15px 15px;
        text-align: center;
        color: #fff;
        border-radius: 4px;

        h3{
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 10px;
        }

        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
        }

        .prduct_image{
            width: 100%;
            text-align: center;
            margin-left: -2px;
            img{
                width: 100%;
            }
        }
    }
    .product_two{
        background-image: linear-gradient(to right bottom, #ff7b02, #ffcb52);
    }
    .product_three{
        background-image: linear-gradient(to right bottom, #5c27fe, #c165dd);
    }
    .product_four{
        background-image: linear-gradient(to right bottom, #4a78d6, #5dc8dd);
    }
    .product_five{
        background-image: linear-gradient(to right bottom, #0a93b0, #04d7d7);
    }
    .product_six{
        background-image: linear-gradient(to right bottom, #29b2b8, #8dd885);
    }
}
    /* product section ends */


    /* footer top section ends */
.footer_top{
    background-image: linear-gradient(to bottom, #030102, #010001);
    padding: 50px 0;
    .all_footer{
        .single_footer{
            ul{
                li{
                    a{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 34px;
                        color: #9b9ca0;
                    }
                    &:first-child{
                        margin-bottom: 15px;
                        a{
                            font-weight: 700;
                            text-transform: uppercase;
                            color: #fff;
                            font-size: 13px;
                            line-height: 24px;
                        }
                    }
                }
            }
            form{
                input{
                    font-size: 14px;
                    color: #aeaeae;
                    line-height: 28px;
                    font-weight: 400;
                    padding: 8px 20px;
                    border-radius: 3px;
                    border: none;
                    width: 68%;
                    margin-right: 2%;
                    float: left;
                }
                button{
                    color: #fff;
                    background-color: #44b081;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 24px;
                    text-transform: uppercase;
                    padding: 10px 20px;
                    border-radius: 3px;
                    border: none;
                    width: 30%;
                    cursor: pointer;
                }
            }
            h4{
                color: #fff;
                font-weight: 700;
                font-size: 13px;
                line-height: 24px;
                text-transform: uppercase;
                margin-top: 50px;
            }
            .icons{
                margin-top: 10px;
                i{
                    color: #9b9ca0;
                    margin-right: 12px;
                    font-size: 20px;
                }
            }
        }
    }
}
    /* footer top section ends */


    /* footer bottom section starts */
footer{
    background-color: #121212;
    padding: 50px 0;
    .footer_bottom_content{
        .col-1-of-3{
            margin-bottom: 0;
            p{
                font-size: 13px;
                color: #9b9ca0;
                line-height: 53px;
            }
        }
        .footer_img{
            text-align: center;
        }
        .footer_mini_menu{
            text-align: center;
            a{
                font-size: 13px;
                color: #9b9ca0;
                line-height: 53px;
                margin-left: 25px;
            }
        }
    }
}
    /* footer bottom section ends */
  